[Unit]
Description=Sensors
After=network-online.target
Wants=network-online.target

[Service]
Type=simple
User=pi
WorkingDirectory=/home/pi/viz-debug
Restart=on-failure
RestartSec=5s
ExecStart=bash start.sh

[Install]
WantedBy=multi-user.target
