[Unit]
Description=Sensor 7
After=network-online.target
Wants=network-online.target

[Service]
Type=simple
User=pi
WorkingDirectory=/home/pi/viz-debug
Restart=on-failure
RestartSec=5s
ExecStart=/home/pi/.cargo/bin/cargo run server /dev/sensor7 9997

[Install]
WantedBy=multi-user.target
