[Unit]
Description=Sensor 1
After=network-online.target
Wants=network-online.target

[Service]
Type=simple
User=pi
WorkingDirectory=/home/pi/viz-debug
Restart=on-failure
RestartSec=5s
ExecStart=cargo run server /dev/sensor1 9991

[Install]
WantedBy=multi-user.target
